@use '_mixin.scss' as mixin;


.container__mastercraft{
  @include mixin.flex(column, center, center);
  width: 80%;
  max-width: 800px;
  margin: auto;
  text-align: center;
  font-size: mixin.pixelToRem(1.5px);
}
