@use 'sass:math' as math;


@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}




@function pixelToRem($medida) {
  $rem: math.div($medida, 2px) * 1rem;
  @return $rem;
}
 