@use './variables.scss' as var;
@use './mixin.scss' as mixin;

.modal {
  font-family: 'Commissioner', sans-serif !important;
  &-content { padding: 1rem 1.3rem; }
  &-header { border: none; }
  &-title, & .btn-close { font-weight: 700; }

  &-body {
    p {
      font-size: .9rem;
      color: var.$neutral-color-gray;
      line-height: 1.8;
    }
    & > div {
      border: 1px solid #dddcdc;
      border-radius: .4rem;
      padding: 1rem 1.5rem;
      p { margin-top: 1rem; }
    }
    .label__span { 
      padding-left: 1rem;
      @include mixin.font(var.$neutral-color-black, var.$bold-weight, center, 1rem);
    }
  }
}