$primary-color-light: hsl(176, 50%, 47%); 
$primary-color-dark: hsl(176, 72%, 28%);

$neutral-color-black: hsl(0, 0%, 0%);
$neutral-color-gray: hsl(0, 0%, 48%);

$font-size-body: 16px;

$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;